<div class="contenedor">
  <div class="navbar">
    <img src="/assets/logoFERREMARKET.png" class="logoFERREMARKET" />
    <a class="btn" routerLink="/inicio">
      <i class="fa-solid fa-house"></i>
    </a>
    <a class="btn" routerLink="/productos">Productos</a>
    <a class="btn" routerLink="/ofertas">Ofertas</a>
    <a class="btn" routerLink="/quienessomos">¿quienes somos?</a>
    <a class="btn" routerLink="/contacto">Contacto</a>
    <a class="btn" routerLink="/carrito">
      <i class="fa-solid fa-cart-shopping"></i>
    </a>

    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Buscar"
        aria-label="Search"
      />
      <button class="btn btn-outline" type="submit">Buscar</button>
    </form>
  </div>
</div>
