<div class="contenedor">
  <div class="preguntas">
    <h1><strong>Preguntas frecuentes</strong></h1>
    <h3><strong> Pedidos y Envíos</strong></h3>
    <p>
      <strong>¿Cómo puedo realizar un pedido?</strong> Simplemente navegá por
      nuestro catálogo, agregá los productos al carrito y finalizá tu compra
      eligiendo el método de pago y la dirección de envío.
    </p>
    <p>
      <strong>¿Cuáles son los métodos de pago disponibles?</strong>Aceptamos
      tarjetas de crédito y débito, transferencias bancarias y pagos por
      plataformas como MercadoPago.
    </p>
    <p>
      <strong>¿Hacen envíos a todo el país?</strong>Sí, realizamos envíos a todo
      el país a través de operadores logísticos de confianza.
    </p>
    <p>
      <strong>¿Cuánto tarda en llegar mi pedido?</strong>Los envíos suelen
      demorar entre 2 y 5 días hábiles, dependiendo de tu ubicación.
    </p>
    <p>
      <strong>¿Qué hago si mi pedido llega incompleto o dañado?</strong
      >Contactanos inmediatamente a través de nuestro formulario de contacto o
      WhatsApp. Resolveremos el problema lo antes posible.
    </p>

    <br />
    <h3><strong>Cambios y Devoluciones</strong></h3>
    <p>
      <strong>¿Puedo devolver un producto si no era lo que esperaba?</strong>
      Sí, tenés hasta 10 días corridos desde que recibís el producto para
      solicitar la devolución.El producto debe estar en perfectas condiciones y
      en su empaque original.
    </p>
    <p>
      <strong>¿Quién cubre los gastos de devolución?</strong> En caso de errores
      nuestros o productos defectuosos, nosotros cubrimos los gastos. Si es por
      cambio voluntario, el costo corre por cuenta del cliente.
    </p>
    <p>
      <strong>¿Cómo solicito un cambio o reembolso?</strong>Podés escribirnos a
      nuestro correo o WhatsApp indicando tu número de pedido y el motivo. Te
      guiaremos en el proceso.
    </p>
    <br />
    <h3><strong> Productos</strong></h3>
    <p>
      <strong>¿Los productos tienen garantía?</strong> Sí, todos nuestros
      productos tienen garantía oficial del fabricante. El plazo varía según el
      artículo.
    </p>
    <p>
      <strong>¿Cómo sé si el producto es compatible con mis necesidades?</strong
      >En cada producto incluimos una descripción detallada y sus
      especificaciones técnicas. Si tenés dudas, nuestro equipo puede
      asesorarte.
    </p>
    <p>
      <strong>¿Ofrecen asesoría para elegir herramientas o materiales?</strong
      >Sí, contamos con personal capacitado para ayudarte. Escribinos por correo o
      WhatsApp.
    </p>
    <br />
    <h3><strong>Facturación y Cuenta</strong></h3>
    <p>
      <strong>¿Cómo solicito una factura?</strong>La factura se emite
      automáticamente al confirmar tu compra. Si necesitás una factura A,
      escribinos con tu CUIT y condición fiscal.
    </p>
    <br />
    <h3><strong>Atención al Cliente</strong></h3>
    <p>
      <strong>¿Cómo puedo comunicarme con ustedes?</strong>Podés escribirnos por
      WhatsApp, correo electrónico o llamar en el horario de atencion.
    </p>
    <p>
      <strong>¿En qué horario atienden consultas?</strong>Nuestro horario de
      atención es de Lunes a Viernes de 8:00 a 16:00hs
    </p>
    <br />
    <h3><strong>Seguridad y Privacidad</strong></h3>
    <p>
      <strong>¿Es seguro comprar en su sitio web?</strong>Sí, utilizamos
      tecnologías de encriptación y plataformas de pago seguras para
      proteger tus datos.
    </p>
    <p>
      <strong>¿Qué hacen con mis datos personales?</strong>Tus datos son
      confidenciales y se usan únicamente para procesar tu pedido. Nunca los
      compartimos con terceros sin tu consentimiento.
    </p>
  </div>
</div>
