.home {
  color: #1b1b1b;
  width: 100%;
  height: 550px;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  border-radius: 8px;
  line-height: 150%;

  background-blend-mode: multiply;

  overflow: hidden;
}
.home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-front {
  bottom: 16px;
  left: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  box-shadow: o 4px rgb(60, 60, 60);
  color: #ffffff;
}

.home-back {
  transform: translateX(120%);
  color: rgb(255, 255, 255);
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  box-shadow: o 4px rgb(60, 60, 60);
}

/*Text*/
.title {
  font-size: 3.9rem;
  font-weight: bold;
  margin: -270px;
}
/*Text divider*/
.title::after {
  display: block;
  width: 50%;

  height: 10px;
  margin: 2px auto;
  background-color: #1b1b1b;
}

/*Hover*/
.home:hover {
  background-color: #1b1b1b25;
}

.home:hover .home-front {
  transform: translateX(-100%);
}

.home:hover .home-back {
  transform: translateX(0);
  position: absolute;
  font-size: 1.9rem;
  text-align: center;
  margin: 230px 300px;
}

.carousel {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

.contenedor-carrusel {
  display: flex;
  gap: 20px;
  padding: 20px;
  scroll-snap-type: x mandatory;
}

.card {
  scroll-snap-align: start;
  flex: 0 0 auto;
  width: 18rem;
  height: 20rem;
  box-shadow: o 4px rgb(60, 60, 60);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  transition: 0.2s ease-in-out;
  margin: 0;
  text-align: center;
}

.img {
  position: absolute;
  transition: 0.2s ease-in-out;
  z-index: 1;
  object-fit: scale-down;
}

.textBox {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: 0.2s ease-in-out;
  z-index: 2;
}

.textBox > .text {
  font-weight: bold;
}

.textBox > .head {
  font-size: 20px;
}

.textBox > .price {
  font-size: 17px;
}

.textBox > span {
  font-size: 12px;
  color: lightgrey;
}

.card:hover > .textBox {
  opacity: 1;
}

.card:hover > .img {
  height: 65%;
  filter: blur(7px);
  animation: anim 3s infinite;
}

@keyframes anim {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.card:hover {
  transform: scale(1.04) rotate(-1deg);
}

.titulomarcas {
  text-align: center;
  color: rgb(0, 0, 77);
}
.ofertas {
  text-align: center;
  color: red;
  margin: 100px 0px 10px;
}
.marcas {
  margin-top: 100px;
  display: flex;
  width: 100%;
  height: 100px;
}
.m {
  background-color: #ffffff;
  width: 250px;
  object-fit: contain;
}
.mtitulo {
  margin-left: 35%;
  margin-top: 3%;
}
.ult {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.barra {
  display: flex;
  justify-content: center; /*centrar las tarjetas*/
  gap: 20px; /*enfoca*/
  flex-wrap: wrap; /*permite que se acomoden en la pantalla*/
  padding: 20px;
  
}
.benef {
  width: 20rem;
  background-color: rgb(255, 255, 255);
  color: rgb(126, 126, 126);
 border-radius: 5px;
 border: none;
  overflow: hidden;
 
  height: auto;
  margin:30px 40px 50px 60px;
}
.benef .B{
  width:fit-content;
  height: 300px;
  object-fit: cover;
}
.benef h3{
  text-align: center;
}

.cancelar {
  width: auto;
  height: auto;
  border-radius: 5px;
  text-align: center;
  background-color: #e3e3e3;
  padding: 50px 50px 50px 50px;
  border-style: double;
}
.normas {
  width: auto;
  height: auto;
  border-radius: 5px;
  text-align: center;
  background-color: #e3e3e3;
  margin-left: 17%;
  padding: 50px 50px 50px 50px;
  border-style: double;
}
