<footer class="pie-pagina">
  <div class="grupo-1">
    <div class="box">
      <figure>
        <a href="#">
          <img
            src="/assets/logoFERREMARKET.png"
            alt="logo"
            class="logo-footer"
          />
        </a>
      </figure>
    </div>
    <div class="box">
      <a routerLink="/quienessomos"><strong>SOBRE NOSOTROS</strong></a>
      <p>
        FERREMARCKET es más que una tienda: es tu aliado para crear, reparar y
        construir con confianza.
      </p>
      <hr />
      <a routerLink="/ofertas"><strong>OFERTAS</strong></a>
      <p>Hasta 15% OFF con tarjetas bancarias</p>
      <hr />
      <a routerLink="/preguntasfrecuentes"
        ><strong>PREGUNTAS FRECUENTES</strong>
        <ul>
          <li><strong>Pedidos y Envios</strong></li>
          <li><strong>Cambios y Devoluciones</strong></li>
          <li><strong>Facturacion y Cuenta</strong></li>
          <li><strong>Atencion al cliente</strong></li>
          <li><strong>Seguridad y Privacidad</strong></li>
        </ul>
      </a>
    </div>
    <div class="box">
      <a routerLink="/contacto"
        ><strong>CONTACTANOS EN NUESTRAS REDES SOCIALES</strong>
      </a>
      <div class="red-social">
        <a routerLink="/contacto">
          <img
            src="/assets/logdex-removebg-preview.png"
            alt="Logo de Twitter"
            class="img-x"
          />
        </a>
        <a routerLink="/contacto">
          <img
            src="/assets/logointagram1-removebg-preview.png"
            alt="Logo de Instagram"
            class="img-ins"
          />
        </a>
        <a routerLink="/contacto">
          <img
            src="/assets/facebooklogo.png"
            alt="Logo de Facebook"
            class="img-f"
          />
        </a>
        <a routerLink="/contacto">
          <img
            src="/assets/whatsapplogo.png"
            alt="Logo de WhatsApp"
            class="img-w"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="grupo-2">
    <small
      >&copy; 2025 <b>FERREMARKET</b> - todos los derechos recervados</small
    >
  </div>
</footer>
