<footer class="pie-pagina">
    <div class="grupo-1">
      <div class="box">
        <figure>
          <a href="#">
            <img src="/assets/logoFERREMARKET.png" alt="logo" class="logo-footer">
  
          </a>
        </figure>
      </div>
      <div class="box">
        <h2>SOBRE NOSOTROS</h2>
        <p>trabajamos con productos de muy buena calidad y precio</p>
        <hr>
        <h2>OFERTAS</h2>
        <p>trabajamos con productos de muy buena calidad y precio</p>
        <hr>
        <h2>CATEGORIAS</h2>
        <p>trabajamos con productos de muy buena calidad y precio</p>
  
      </div>
      <div class="box">
        <h2>CONTACTANOS EN NUESTRAS REDES SOCIALES </h2>
        <div class="red-social">
          <a href="#">
            <img src="/assets/logdex-removebg-preview.png" alt="Logo de Twitter" class="img-x">
          </a>
          <a href="#">
            <img src="/assets/logointagram1-removebg-preview.png" alt="Logo de Instagram" class="img-ins">
          </a>
          <a href="#">
            <img src="/assets/facebooklogo.png" alt="Logo de Facebook" class="img-f">
          </a>
          <a href="#">
            <img src="/assets/whatsapplogo.png" alt="Logo de WhatsApp" class="img-w">
          </a>
  
  
  
        </div>
      </div>
    </div>
    <div class="grupo-2">
      <small>&copy; 2025 <b>FERREMARKET</b> - todos los derechos recervados</small>
  
    </div>
  
  
  </footer>
