h1{
    text-align: center;

}


/*en el contenedor de las tarjetas*/
.card-container{
    display: flex;
    justify-content: center;/*centrar las tarjetas*/
    gap: 20px;/*enfoca*/
    flex-wrap: wrap;/*permite que se acomoden en la pantalla*/
    padding: 20px;
}
/*estilos para las tarjetas*/
.card{
    width: 18rem;
    
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.1 ease-in-out;
    box-shadow: o 4px rgb(60, 60, 60);
    height:fit-content;    
   
    

}
/*efecto hover de la tarjeta*/
.card:hover{
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgb(60, 60, 60);

}

.card img{/*estilo imagen dentro de las tarjetas*/
    width: 100%;
    height: 200px;
    object-fit:contain;
    
    
}

.card .btn{/*estilo del boton*/
    background-color: rgb(255, 149, 0);
    color: black;
    border: none;
    transition: background 0.3s ease-in-out;
    align-items: center;
    width: 95%;
}

.card .btn:hover{
    background-color: rgb(255, 238, 0);
}

@media(max-width:600px){/*responsabilidad en pantalla chica*/
    .card-container{
        flex-direction: column;
        align-items: center;
    }
}

.card-text{
    color:rgb(0, 198, 0);
}

.botonDC{
    border: none;
    background-color: none;
    margin: 5px;
    color: blue;
}
.botonFavoritos{
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    width: 35px;
    border-radius: 5px;
    object-position: center;
    transition: background 0.3s ease-in-out;


}
.botonFavoritos:hover{
    background-color: rgb(255, 238, 0);

}
.noproduc {
    text-align: center;
  }
  
/*boton de favoritos*/

/* From Uiverse.io by ahmed150up */ 
input[type="checkbox"] {
  display: none;
}

label svg {
  width: 35px;
  height: 35px;
  fill:#FFC107;
  stroke: #FFC107;
  stroke-width: 1px;
  margin-left: 5px;
}

input[type="checkbox"]:checked + label svg {
  fill: #FFC107;
  animation: pop_42 0.5s ease-out;
}

@keyframes pop_42 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
