<div class="contenedor-home">
  <div class="elhome">
    <img class="imgHOME" src="./assets/home.jpg" />
  </div>
</div>
<h2 class="ofertas">OFERTAS</h2>
<hr />

<div class="carousel">
  <div class="contenedor-carrusel">
    <div class="card" *ngFor="let oferta of productosEnOferta; let i = index" routerLink="/ofertas">
      <img
        class="img"
        [src]="oferta.img"
        alt="{{oferta.nombre}}"
        width="100%"
        height="100%"
      />
      <div class="textBox">
        <p class="text head">{{oferta.nombre}}</p>
        <h1>{{oferta.oferta}}%</h1>
        <p>Descuento con tarjetas bancarias</p>
        <p class="text price">{{oferta.precio | currency}}</p>
      </div>
    </div>
  </div>
</div>




