.contenedor {
  width: 100%;
  height: 55px;
  margin: 0px
}
.navbar {
  
  background-color: rgb(255, 149, 0);
  width: 100%;
  display: flex;
  align-items: normal;
}
.btn {
  transition: 0.3s;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  margin: auto;
}
.btn:hover {
  background-color: rgb(255, 179, 0);
}
form {
  margin: 0px 5% 0px 5%;
}
button {
  background-color: rgb(255, 72, 0);
  transition: 0.3s;
}
button:hover {
  background-color: rgb(255, 179, 0);
}
.logoFERREMARKET {
  background-color: rgb(230, 134, 0);
  width: 200px;
  object-fit: contain;
  height: auto;
  max-width: 100%;
  border-radius: 5px;
  margin: 0px 0px 0px 10px;
}
