<div class="quienessomos">
  <div class="container">
     <h2>¿Quiénes somos?</h2>
    <p><strong>FERREMARCKET</strong> es una ferretería 100% digital, pensada para quienes buscan una experiencia moderna, práctica y confiable en la compra de herramientas y artículos de ferretería.</p>

    <p>Nacimos con la visión de ofrecer una alternativa innovadora en el mercado, reuniendo una amplia variedad de productos y marcas reconocidas, con el respaldo de fabricantes líderes.</p>

    <p>Nuestro compromiso es acompañarte en tus proyectos —ya sean personales, profesionales o del hogar— brindándote:</p>
    <ul>
      <li> •Productos de calidad con garantía oficial</li>
      <li> •Precios competitivos</li>
      <li> •Envíos rápidos y seguros</li>
      <li> •Atención personalizada y soporte especializado</li>
    </ul>

    <p>Creemos en la tecnología como motor para mejorar tu experiencia, simplificar tu compra y acercarte justo lo que necesitas, sin complicaciones.</p>

    <p><strong>FERREMARCKET</strong> es más que una tienda: es tu aliado para crear, reparar y construir con confianza.</p>
  </div>
</div>
