h1 {/*para darle estilos a los textos h1*/
  text-align: center;
}
table {
  border-collapse: collapse;
}
.thead {
  color: black;
  border: 5px;

  width: 100%;
  text-align: center;
}
.tabla-carrito {
  justify-items: center;
  align-items: center;

  width: 100%;
  height: auto;
  padding: 10px;
}
td {
  border: 1px solid #000000;
  background-color: rgb(226, 226, 226);
  align-items: center;
  text-align: center;
}
th {
  background-color: rgb(255, 149, 0);
  border: 1px solid #000000;
  align-items: center;
  text-align: center;
}
tr {
  border: 1px solid #000000;
  align-items: center;
  text-align: center;
}
.tfot {
  background-color: rgb(255, 149, 0);
  color: #000000;
  text-align: center;
}
.eliminar {
  background-color: rgb(255, 149, 0);
  border-radius: 5px;
}
.tbody img{
  width: 30%;
  height: 30%;
  object-fit: contain;
}

.noproduc {
  text-align: center;
}
