.contenedor{
   width: 100%;
  justify-content: center;
  margin-left: 40%;
  margin-top: 5%;
    
}
.formulario{
 width: 350px;
  height: auto;
  
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
   
    

}

.btn{
  background-color:  rgb(255, 149, 0);
  color: #000;
  border-radius: 10px;
}

.formulario label{
    padding-top: 10px;
}
.formulario h3{
    text-align: center;
    color: brown;
}
.formulario button {
    margin-top: 10px ;
   
    
    
}

.sign-up-label {
  margin-top: 10px;
  font-size: 10px;
  color: #747474;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sign-up-link {
  margin-left: 1px;
  font-size: 11px;
  text-decoration: underline;
  text-decoration-color: teal;
  color: teal;
  cursor: pointer;
  font-weight: 800;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}