<h1>Carrito de compras</h1>

<div *ngIf="ProductosEnCarrito.length ===0" class="noproduc">
    <p>No hay productos en el carrito</p>

</div>

<div class="tabla-carrito">
    <table class="table">
        <thead class="thead">
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
    
      <tbody class="tbody">
            <tr *ngFor="let item of ProductosEnCarrito; let i=index ">
                <td><img [src]="item.producto.img" alt="{{item.producto.nombre}}" style="width: 50px; height: 50px;"></td>
                <td>{{item.producto.nombre}}</td>
                <td>{{item.producto.descripcion}}</td>
                <td>{{item.producto.precio | currency}}</td>
                <td>
                    <button (click)="quitarCantidad(i)">-</button>
                    {{item.cantidad}}
                    <button (click)="agregarCantidad(i)">+</button>
                </td>
                <td>
                    <button (click)="eliminarProducto(item.producto.id)" class="eliminar">Eliminar</button>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="5" class="tfot">Total a pagar</td>
                <td >{{calcularTotal() | currency}}</td>
            </tr>
        </tfoot>
    </table>

    <button (click)="realizarCompra()" class="btn btn-success">Realizar compra</button>
    

</div>

     
